@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
@import 'suomifi-ui-components/dist/main.css';
@import './variables';
@import "~bootstrap/scss/bootstrap";

/*body{
	font-family: "Source Sans Pro";
}*/

.container-white{
	background-color: white;
	padding: 0 30px;

}

.salvia-container {
	color: $primaryColor;
	width: 1170px;
	max-width: 100%;
	margin: auto;
	min-height: 600px;
	position: relative;

	.language-container {
		color: $blue !important;
	}

	.salvia-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;
		flex-wrap: wrap;
	}

	.lang-user-container {
		display: flex;
		align-items: center;

		.nav-item {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 500;
		}

		.salvia-user-container {
			span {
				color: $blue !important;
			}

			button {
				margin-left: 20px;
			}
		}
	}

	.nav-tabs, .salvia-navbar {
		display: flex;
		border-bottom: solid 2px $blue;
		background: $blue;
		color: white;
		padding: 0px 10px;

		a.nav-item {
			border: none;
			border-bottom: solid 3px $blue;
			background: $blue;
			color: white;
			text-transform: uppercase;
			font-weight: 500;
			padding: 15px;

			&.active {
				border-bottom: solid 3px white;
			}
		}

		#salvia-tabs-tab-settings {
			position: absolute;
			right: 15px;
		}
	}

	.salvia-footer {
		margin-top: 100px;
		background: $blue;

		div {
			display: flex;
			padding: 20px;
		}

		a.nav-item {
			border: none;
			background: none;
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 600;
			padding: 15px;
		}
	}
}

	.salvia-nav {
		display: flex;
		align-items: center;
		text-decoration: none;

		span {
			color: $blue !important;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.logo-container {
		display: flex;
		align-items: center;

		h1 {
			color: $blue;
		}

		.salvia-logo {
			margin-right: 10px;

			svg {
				width: 100px;
				height: auto;
			}
		}
	}


	.salvia-panel {
		text-align: left;
		padding: 30px;

		.fi-expander {
			margin: 20px 0;
		}
		//for manual focusing on H2
		h2:focus {
			outline: 0;
			position: relative;
		}

		h2:focus::after {
			content: "";
			position: absolute;
			pointer-events: none;
			inset: -2px;
			border-radius: 2px;
			background-color: transparent;
			border: 0px solid rgb(255, 255, 255);
			box-sizing: border-box;
			box-shadow: rgb(26, 153, 199) 0px 0px 0px 2px;
			z-index: 9999;
		}
	}

	.fi-expander .salvia-panel {
		padding: 15px;
	}

	.highlight {
		color: $blue;
		font-weight: bold;
		padding: 5px;
	}

	.salvia-icon {
		color: $blue;
		margin: 0 10px;
	}

	.salvia-message {
		padding: 30px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.salvia-button {
		min-width: 120px;
		text-transform: uppercase !important;
		font-weight: 600 !important;
	}

	.salvia-icon-button {
		background: white;
		min-width: unset;
		border: none;
		padding: 0;
	}

	.salvia-loader {
		text-align: center;
		padding: 100px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.salvia-title {
		color: $blue !important;
	}
	/*Form styles*/

	.salvia-form {

		.form-row, .form-group {
			margin-bottom: 15px;
		}

		.salvia-input {
			max-width: 400px;
		}

		.fi-status-text, .fi-hint-text {
			font-weight: 400;
			font-size: 14px;
		}

		.fi-checkbox {
			margin-bottom: 15px;
		}
	}

	.salvia-row {
		display: flex;
		flex-direction: row;
		padding: 10px 0;
		align-items: center;
		margin: 20px 0;

		&.with-border {
			border-bottom: 1px solid $background;
		}
	}

	ul.salvia-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 10px;
		}

		li:nth-child(odd) {
			background: $lightGrey;
		}
	}


	.search-tests, .search-services {
		margin: 20px 0;

		.fi-label-text .fi-label-text_label-span {
			color: $primaryColor;
		}
	}

	.salvia-test-suit, .salvia-test-results {


		.salvia-test-case, .salvia-test-result {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			> div {
				margin: 10px 0;
			}

			.test-case-tester {
			}

			.test-case-ts {
				font-size: 0.75rem;
				text-align: center;
			}

			.viewport.salvia-icon {
				text-align: center;
			}

			.test-case-reports {
				display: flex;
				flex-wrap: wrap;

				button {
					min-width: 100px;
				}
			}

			.pdf-report, .json-report {
				padding: 5px;

				button {
					font-size: 0.75rem;
				}
			}

			.test-case-stats {
				display: flex;
				justify-content: space-evenly;
			}
		}
	}

	.salvia-test-results {
		margin-bottom: 30px;

		.container {
			margin-top: 10px;
		}

		h3 {
			margin-bottom: 20px;
		}

		ul {
			margin-top: 10px;
		}

		.test-result-url a {
			font-size: small;
		}
	}

	.salvia-testing-form {
		text-align: left;
		padding: 0;

		.salvia-url-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.form-group, .select-viewport, .form-row {
			margin-bottom: 15px;
		}

		#salvia-testing-depth, #salvia-testing-width {
			width: 200px;
		}

		#salvia-testing-depth {
			background: white;
		}
	}

	.salvia-testing-pages-form {
		.selected-pages {
			display: flex;
			flex-direction: column;
		}

		#salvia-back-to-test {
			.salvia-icon {
				margin-left: 0;
			}

			&:focus, &:hover {
				background-color: white;
				border: none;
				box-shadow: none;
			}
		}
	}


	.add-page-panel, .add-test-panel {
		margin-top: 30px;
		margin-bottom: 30px;

		.collapsible-header {
			display: flex;

			.salvia-icon {
				margin-left: 0;
			}

			.salvia-button:focus, .salvia-button:hover {
				background-color: white;
				border: none;
				box-shadow: none;
			}
		}

		.salvia-row {
			justify-content: space-between;
		}
	}

	.add-test-panel {
		background: $blueBackground;
	}

	.salvia-settings-panel {

		.settings-header {
			padding-bottom: 5px;
			border-bottom: 2px solid $blue;
		}

		.salvia-settings {
			margin: 20px 0;
		}

		.report-language-settings {
			margin-left: 10px;
		}
	}

	.modal-backdrop {
		position: fixed;
		z-index: 1040;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #000;
		opacity: 0.5;
	}

	.salvia-modal {
		.modal-dialog {
			text-align: center;

			.modal-body {
				padding: 30px;

				.modal-info {
					margin-bottom: 30px;
				}
			}
		}
	}

	.add-test-panel {
		> div {
			margin: 15px 0;
		}
	}

	.select-file-container {
		display: flex;
		margin: 10px 0;
		justify-content: space-between;

		button {
			margin-left: 10px;
		}

		.salvia-file-uploader {
			button {
				margin-left: 0;
			}
		}
	}

	.salvia-organizations {
	}

	.salvia-organization-container {
		margin: 20px 0;

		.offices, .sources {
			margin: 20px;
		}
	}

	.salvia-sources {

		.salvia-source {
			padding: 20px 0;
		}

		.salvia-source:nth-child(odd) {
			background: $lightGrey;
		}

		.salvia-source:nth-child(even) {
			background: white;
		}
	}

	.salvia-label {
		margin-bottom: 10px !important;
	}

	@media(max-width: 768px) {
		.container-white {
			padding: 0 10px;
		}

		.salvia-container {
			.lang-user-container {
				width: 100%;
				justify-content: flex-end;
			}

			.nav-tabs {
				flex-direction: column;
				padding: 0 !important;
				border-bottom: none;

				a.nav-item {
					border-radius: 0;
					background: $background;
					border-bottom: solid 3px white;
					color: $blue;

					&.active {
						border-bottom: none !important;
						background: $blue;
						font-weight: bold;
						color: white;
					}
				}

				#salvia-tabs-tab-settings {
					position: unset;
				}
			}
		}

		.salvia-panel {
			padding: 30px 0;
		}
	}

	@media(max-width: 360px) {
		.container-white {
			padding: 0;
		}
		.salvia-container {
			.salvia-header {
				padding: 10px;
			}
				.salvia-navbar {
					flex-direction: column;
					padding: 5px;

					a.nav-item {
						border-bottom: none !important;

						&.active {
							border-left: solid 5px white;
						}
					}
				}
			}
		}